<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"></section>

  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="AllowedIPList" value="*" />
    <!--本地端口-->
    <!--<add key="baseAddress" value="http://127.0.0.1:9088/" />-->
    <!--远程端口-->
    <add key="baseAddress" value="http://127.0.0.1:9088/" />
    <!--机器人料库点位183个（本次10个）-->
    <add key="storeAddr" value="172.21.149.20,102,DB300.0,10,78" />
    <!--出库20个（本次2个）-->
    <add key="storeAddr2" value="172.21.149.20,102,DB401.0,20,78" />
    <!--缓存料道入库1个（本次1个）-->
    <add key="storeAddr3" value="172.21.149.20,102,DB200.0,1,66" />
    <!--控制命令-->
    <!--B0机器人控制命令标志位1 - DB200.66
        B1总控控制命令标志位1 - DB200.67
        B2=1机床上料请求、=2卸料请求,=3末件排空，4，其他 - DB200.68
        B3机床编号（T1.-T6）- DB200.69
        B4 - DB200.70
        B5总控出库请求，1 - DB200.71
        B6PLC出库请求应答，1- DB200.72
        --> 
    <add key="plcMonAddr" value="DB200.66,DB200.67,DB200.68,DB200.69,DB200.70,DB200.71,DB200.72,DB200.73,DB200.74" />
    <!--响应机床上料请求-->
    <add key="addrSetFeedingToMachine" value="DB200.0,DB200.9999,DB200.40" />
    <!--响应机床换料请求-->
    <add key="addrSetChangeToMachine" value="DB200.0,DB200.4,DB200.9999,DB200.40" />    
    <!--响应机床卸料请求-->
    <add key="addrSetUnloadToChannel" value="DB200.0" />
    <!--响应出库请求-->
    <add key="addrSetOutStock" value="DB200.0" />
    <!--发出出库请求-->
    <add key="addrRequestOutStock" value="DB200.71" />
    <!--响应缓存料道入库请求-->
    <!--监听入库请求信号 - DB400.80
        启动机器人执行入库动作 - DB400.84写1；复位启动机器人执行入库动作信号 - DB400.84写0
        监听单工件入库完成信号 - DB400.88
        -->
    <add key="addrRequestInStock" value="DB400.80,DB400.84,DB400.88" />
  </appSettings>

  <system.web>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="IM" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="MES" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="IM" applicationName="MES" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="IM" applicationName="MES" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="MES" />
      </providers>
    </roleManager>
  </system.web>

  <log4net>
    <logger name="JNRSLogger">
      <level value="ALL" />
      <appender-ref ref="InfoLoging" />
      <appender-ref ref="EventLoging" />
      <appender-ref ref="ErrorLoging" />
    </logger>
    <!--信息日志-->
    <appender name="InfoLoging" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Logs\log_info.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>
    <!--警告,注意,通知日志-->
    <appender name="EventLoging" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Logs\log_event.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}%newline%message%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>
    <!--错误日志-->
    <appender name="ErrorLoging" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Logs\log_error.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}%newline%message%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <root>
      <!--<level value="ALL" />
      <appender-ref ref="FileAppender" />-->
    </root>
  </log4net>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
